{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} Mot de passe oublié {% endblock %}
{% block TitrePage %}Compte | Mot de passe oublié{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="row mt-4 justify-content-center">
            <div class="alert alert-success col-md-6">{{ message }}</div>
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="row mt-4 justify-content-center">
            <div class="alert alert-danger col-md-6">{{ message }}</div>
        </div>
    {% endfor %}
    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            <form method="post" action="">
                <div class="mb-3">
                    <label for="email">E-Mail</label>
                    <input class="form-control" type="email" id="email" placeholder="Saisir votre e-mail" name="email">
                    <p>Aucun e-mail n'est transmis à aucun organisme tiers.</p>
                </div>
                <button class="btn btn-primary" type="submit">Envoyer</button>
            </form>
            <a href="{{ path('home') }}"><button class="btn btn-primary" style="margin-top: 20px">Retour</button></a>
        </div>
    </div>
{% endblock %}




